configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    terminal: "foot";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono Nerd Font 12";
    sidebar-mode: false;
    click-to-exit: true;
}

@theme "theme.rasi"
