/* Catppuccin Mocha */
/* @define-color main-hl         #f5bde6; */
/* @define-color main-hl-hover   #c6a0f6; */
/* @define-color orange-hover #fab387; */
/* @define-color blue         #89b4fa; */
/* @define-color blue-hover   #b4befe; */
/* @define-color red          #f38ba8; */
/* @define-color red-hover    #eba0ac; */
/* @define-color fg           #cdd6f4; */
/* @define-color bg           #1e1e2e; */
/* @define-color bg-alt       #181825; */

/* Gruvbox */
@define-color main-hl         #d65d9e;
@define-color main-hl-hover   #fe8019;
@define-color green           #b8bb26;
@define-color blue            #83a598;
@define-color blue-hover      #8ec07c;
@define-color red             #fb4934;
@define-color red-hover       #fe8019;
@define-color fg              #ebdbb2;
@define-color fg-alt          #a89984;
@define-color bg              #282828;
@define-color bg4              #7c6f64;
@define-color bg-alt          #1d2021;

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  padding: 0;
  margin: 0;
}

#language,
#pulseaudio,
#battery,
#backlight,
#custom-clock,
#custom-rofi,
#custom-powermenu {
  color: @fg;
  padding: 0px 12px;
}

#window {
  padding: 0px 4px;
}

#workspaces button {
  background-color: @transparent;
  color: @bg4;
  border-radius: 0px;
  padding: 0px 3px;
  min-width: 16px;
  margin: 0px 2px 0px 0px;
  font-size: 10px;
  transition: all 0.3s ease;
}

#workspaces button:hover {
  background-color: @fg;
  color: @bg;
  border-radius: 0px;
}

#workspaces button.focused {
  background-color: @transparent;
  color: @fg;
  border-radius: 0px;
}

#workspaces button.focused:hover {
  background-color: @fg;
  color: @bg;
}

#tray {
  font-family: "Ubuntu";
  padding: 0px;
}

window#waybar {
  background-color: @bg;
  color: @fg;
}

window#waybar.hidden {
  opacity: 0.2;
}

#pulseaudio.muted {
  background-color: #ea6962;
  color: #2a5c45;
}

#language {
  font-size: 16px;
  padding: 0px;
  margin-bottom: 3px;
}

#custom-powermenu {
  color: @red;
  font-size: 16px;
  padding-right: 16px;
}

#custom-powermenu:hover {
  color: @red-hover;
}

#custom-rofi {
  color: @blue;
  font-size: 16px;
}

#custom-rofi:hover {
  color: @blue-hover;
}

tooltip {
  background-color: @bg;
  border-radius: 0px;
  border: 2px solid @fg;
}

tooltip label {
  color: @fg;
}
