[SddmGreeterTheme]
Name=Breno Gruvbox Minimal
Description=A minimalist Gruvbox medium dark SDDM theme with a 1440p wallpaper
Author=Breno + ChatGPT
Copyright=2026
License=MIT
Type=sddm-theme
Version=1.2
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Email=
Theme-Id=breno-gruvbox-minimal
Theme-API=2.0
QtVersion=6
